<!DOCTYPE html>
<html>
<head>
	<title>WebTools for Education</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


	<script src="https://d3js.org/d3.v4.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>

	<div class="jumbotron text-center">
		<h1>WebVisualization for Education</h1>
		<p>Interactive Visualization of Machine Learning algorithms</p>
	</div>

	<div class="container">
		<div class="row">

			<div class="col-lg-4">
				<div class="field">
						<a href="scatterplot.html">
							<button class="mybutton">Scatter Plot</button>
						</a>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="field">
					<a href="different_datasets.html">
						<button class="mybutton">Datasets</button>
					</a>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="field">
					<a href="iris_shapes.html">
						<button class="mybutton">Interactive Iris</button>
					</a>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="field">
					<a href="gui.html">
						<button class="mybutton">Simple GUI</button>
					</a>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="field">
					<a href="3d_scatterplot.html">
						<button class="mybutton">3D Scatterplot</button>
					</a>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="field">
					<a href="plotly_test.html">
						<button class="mybutton">Plotly 3D Scatterplot</button>
					</a>
				</div>
			</div>

		</div>
		
	</div>
		<hr style="margin-top: 100px;">
	<footer>
		<span>Frankfurt University of Applied Sciences</span>
		<br>
		<span>WebTools für die Lehre: SVM</span>
		<br>
		<br>
		<span>Contributors:</span>
		<br>
		<span>Yasemin Er; </span>
		<span>Hendrik Pfaff; </span>
		<span>Lukas Atkinson; </span>
		<span>Luca Jordan</span>
		
	</footer>

</body>
</html>