<!DOCTYPE html>
<html>
<head>
    <title>Support Vector Machines</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
    <script>
        MathJax = {
            tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]},
            svg: {fontCache: 'global'}
        };
    </script>

    <!--<script>
        MathJax = {
            tex: {
                tags: 'all'
            }
        };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>-->
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
<div class="col-lg-12" style="height:30px; text-align: left;">
    <a href="index.html" class="previous">&laquo; Previous</a>
</div>

<div class="jumbotron text-center">
    <h1>Support Vector machines</h1>
    <p>A Visualization</p>
</div>

<div class="container">
    <div class="row">
        <div class="">
            <h2>Introduction</h2>
            <p>This website was created as part of the digitalization project "Webtools for teaching" at <a
                    href="https://www.frankfurt-university.de/en/" target="_blank">Frankfurt University of Applied
                Sciences (FRA UAS)</a>. "Computer-based visualization systems provide visual representations of datasets
                designed to help people carry out tasks more effectively." External representation replaces cognition
                with perception. We hope that our interactive visualization will make the SVM easier to understand for
                you.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-6 text-center">
            <div class="scatter" id="iris-shapes"></div>
            <svg></svg>
        </div>
        <div class="col-md-12 col-lg-6">
            <form class="form-horizontal" action="">
                <h3>Settings</h3>
                <div class="form-group">
                    <label for="datasets" class="control-label col-sm-2">Dataset</label>
                    <div class="col-sm-10">
                        <select id="datasets" class="form-control input-sm">
                            <option>iris</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="kernel" class="control-label col-sm-2">Kernel</label>
                    <div class="col-sm-10">
                        <select id="kernel" class="form-control input-sm ">
                            <option>Linear</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="epsilon" class="control-label col-sm-2">Epsilon</label>
                    <div class="col-sm-10">
                        <input type="number" name="epsilon" id="epsilon" value="1e-3" class="form-control input-sm"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <button type="button" id="reload" class="form-control btn btn-success">Reload</button>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" id="backwards" class="form-control btn btn-info">Step backwards &larr;</button>
                    </div>
                    <div class=" col-sm-4">
                        <button type="button" id="forwards" class="form-control btn btn-primary">Step forwards &rarr;</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <h3>Values</h3>
            </div>
        </div>

    </div>
    <div class="row" height="250px">
        <div class="col-md-12 col-lg-12">
            <h2>Why SVM?</h2>
            <p>The Support Vector Machine (SVM) is one of the most modern technique used for regression-and
                classification problems.
                The SVM is a supervised learning model.
                In this approach we are given a set of input vectors ($x_n$) paired with corresponding target values
                ($t_n$).
                The goal is to "learn" a model made out of these training set to make correct predictions of t for newly
                presented input data $x$.
                In classification, $t$ is discrete and represented as class labels.
                In regression $t$ is a continuous variable. The prediction $y(x,w)$ is expressed as the following linear
                model:
                $$y(x,w) = \sum_{m=0}^{M} w_m \phi_m(x) = w^T\phi \label{ref1}$$
                Here, $\phi_{m}(x)$ are basis functions and the parameters ${w_m}$ are the associated weights.</p>
            <h2>How SVM works</h2>
            <p>There are different types of the SVM: in the classification case, there is the original one the Maximal
                Margin Classifier, the kernelized version, the soft-margin version and the soft-margin kernelized
                version which combines the first 3 versions and is used most frequently.
                In the regression case there is the Support Vector Regression (SVR).
                However, all SVMs are basically a specialization of (\ref{ref1}) and make predictions based on the
                following function:
                $$y(x,w)=\sum_{i=1}^{N}w_{i}K(x,x_i)+w_0 \label{ref2}$$
                where K stands for kernel functions.</p>
            <p>The SVM searches for the optimal hyperplane that best separates the data by maximizing the margin.
                Maximizing the margin is an optimization problem that is equivalent to minimizing the norm of the weight
                vector:
                $$minimize_{w,b} \space \frac{1} {2} ||w||^2 $$
                subject to $$y_{i}(w * x_{i} + b)-1 \geq 0, \space i=1,...,m \label{ref3}$$
                The convex quadratic optimization problem from (\ref{ref3}) can be solved by lagrange multipliers:
                $$\mathcal{L}(w,b,\alpha) = \mathcal{f}(w)-\sum_{i=1}^{m}\alpha_{i}g_{i}(w,b)$$
                $$\mathcal{L}(w,b,\alpha) = \frac{1}{2}||w||^{2}-\sum_{i=1}^{m}\alpha_{i}[y_{i}(w*x_{i}+b)-1]$$
                $$\min_{w,b} \space \max_{a} \mathcal{L}(w,b,\alpha)$$
                subject to
                $$\alpha_{i}\geq0, \space i=1,...,m \label{ref4}$$
                The problem from (\ref{ref4}) can then be rewritten in dual form and becomes a Wolfe Dual Problem.
                In this way the parameters $w$ and $b$ can be found:
                $$w=\sum_{i=1}^{m}\alpha_{i}y_{i}x_{i} \label{ref5}$$
                $$b=y_{i}-w*x_{i} \label{ref6}$$</p>
            <p>Because (\ref{ref4}) contains inequality constraints, the solution must fulfill certain conditions, the
                Karush-Kuhn-Tucker (KKT) conditions.
                These conditions are: stationarity-, primal feasibility-, dual feasibility- and complementary slackness
                condition.
                $$\alpha_{i}[y_{i}(w*x_{i}+b)-1]=0 \space for \space for \space all \space i=1,...,m \label{ref7}$$
                The fourth one, the complementary slackness condition from (\ref{ref7}), says either $\alpha_{i}$ or the
                original condition should be zero.
                <strong>The support vectors are the ones that have a positive $\alpha_{i}$ which means the second
                    condition is active.</strong>
                If a solution meets the four KKT conditions, this solution is optimal.
                However, unclean data, for instance outliers, are not uncommon and impair linear separability.
                Vapnik and Cortes modified the original SVM to the <strong>Soft Margin SVM</strong> which means, in the
                classification case, <strong>outliers are allowed</strong>.
                The original optimization problem from (\ref{ref3}) has been changed to (\label{ref8}):
                the slack variable $\zeta$ and the hyperparameter $C$ have been added.
                Regarding to this, the outliers can now be on the "wrong side" but a hyperplane can still be found.
                $$minimize_w,b,\zeta \space \frac{1}{2}||w||^{2} + C \sum_{i=1}^{m} \zeta_{i} \label{ref8}$$
                subject to
                $$y_{i}(w*x_{i}+b) \geq 1-\zeta_{i}$$
                $$\zeta_{i} \geq 0 \space for \space any \space i=1,...,m $$
                The hyperparameter $C$ can then be used to control how the SVM should deal with outliers.
            </p>
            <h2>References</h2>
            <p>...</p>
        </div>

    </div>
</div>

<hr>
<footer>
    <span>Frankfurt University of Applied Sciences</span>
    <br>
    <span>WebTools für die Lehre: SVM</span>
    <br>
    <br>
    <span>Contributors:</span>
    <br>
    <span>Yasemin Er; </span>
    <span>Hendrik Pfaff; </span>
    <span>Lukas Atkinson; </span>
    <span>Luca Jordan</span>

</footer>

<script src="../js/plotly_gui.js"></script>

</body>
</html>
